.limit,
.u {
    text-align: left;
    color: whitesmoke;
    font-family: 'Reem Kufi';
    margin-bottom: 1rem;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    background-color: rgb(255, 255, 255, .08);
    margin: 0;
}

.signup_title {
    font-family: 'Righteous', cursive;
    font-size: 2rem;
    font-weight: lighter;
    padding-bottom: .75rem;
    text-align: center;
    color: whitesmoke;
    margin: 20px auto;
}

input[type="radio"],
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
    margin: 0 1rem;
}

.c,
.l1 {
    display: inline-block;
    vertical-align: middle;
    color: rgb(255, 255, 255, .5);
    font-weight: lighter;
    margin-bottom: 0;
}

.photo {
    width: 100%;
}

.image_container {
    width: 35%;
    min-width: 227px;
    display: inline-block;
    margin: auto;
}

.inner {
    padding-top: 0 !important;
    height: auto;
}